<!-- Step 18(B): Create a footer -->
<footer class="footer bg-dark py-3 mt-auto">
    <!-- "py-3" increases the thickness -->
    <!-- "mt-auto" moves the footer to the buttom of the page
    but first we should add the "d-flex flex-column vh-100" as a class
    in the <body> tag of the "boilerplate.ejs" file -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2024</span>
        <!-- "text-muted" change the color to something visible -->
    </div>
</footer>