<!-- Step 25(A): Create the "error.ejs" file in the views folder.
Use the boilerplate fix function here: -->
<% layout('layouts/boilerplate') %>
    <!-- Step 25(B): 
The Bootstrap 5 website -> left menu -> "Component" section -> "Alerts"
https://getbootstrap.com/docs/5.0/components/alerts/ 
Copy the codes of the "Additional content" section 
change the "alert-success" to "alert-danger", change the title to "Error!",
put the codes in the <div>s with the classes of "row" and "col-6 offset-3" -->
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <!-- Step 25(E): We use the "err" that we brought from app.js
                and make the title and the text of the error dynamic -->
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                    longer
                    so
                    that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
                <p>
                    <%= err.stack %>
                </p>
            </div>
        </div>
    </div>
    <!-- Go to "app.js" and in the "basic-error-handler middleware"
change the "send" function to "render".
Now it's time to install "joi" in Terminal: npm i joi -->