<!-- Step 15(G): Remove all the fix parts and add the following line -->
<% layout('layouts/boilerplate') %>
    <!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body> -->
    <h1>HOME PAGE!</h1>
    <!-- </body>

</html> -->